# Virtual Environment
venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Project specific
weather_fetcher/logs/*
!weather_fetcher/logs/.gitkeep
weather_fetcher/data/*
!weather_fetcher/data/.gitkeep
!weather_fetcher/data/current/.gitkeep
!weather_fetcher/data/historical/.gitkeep

# IDE and Editor files
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env

# Distribution / packaging
dist/
build/
*.egg-info/

# System files
.DS_Store
Thumbs.db